{% extends "base.html" %}
{% load static %}

{% block title %} Browse Requests {% endblock %}

{% block content %}
<style>
    .browse-container {
        padding: 40px 0;
    }

    .page-title {
        text-align: center;
        font-weight: 800;
        color: #2d3436;
        margin-bottom: 40px;
    }

    .request-card {
        background: white;
        border-radius: 20px;
        padding: 25px;
        transition: 0.3s;
        border: 1px solid #f1f1f1;
        box-shadow: 0 5px 15px rgba(0,0,0,0.02);
        height: 100%;
    }

    .request-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 12px 30px rgba(124, 58, 237, 0.1);
        border-color: #7c3aed;
    }

    .student-name {
        font-size: 1.25rem;
        font-weight: 700;
        color: #2d3436;
        margin-bottom: 5px;
    }

    .academic-year {
        display: inline-block;
        background: #f3f0ff;
        color: #7c3aed;
        padding: 4px 12px;
        border-radius: 8px;
        font-size: 0.85rem;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .section-box-container {
        display: flex;
        align-items: center;
        gap: 10px;
        background: #fcfcfc;
        padding: 15px;
        border-radius: 15px;
        border: 1px dashed #e0e0e0;
    }

    .section-mini-box {
        background: white;
        border: 2px solid #7c3aed;
        color: #7c3aed;
        width: 45px;
        height: 45px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        font-weight: 800;
        font-size: 1.1rem;
    }

    .section-label-tiny {
        font-size: 0.6rem;
        text-transform: uppercase;
        margin-bottom: -2px;
        color: #b2bec3;
    }

    .swap-icon {
        color: #7c3aed;
        font-size: 1.2rem;
    }

    .view-details-btn {
        display: block;
        text-align: center;
        background: #7c3aed;
        color: white;
        text-decoration: none;
        padding: 10px;
        border-radius: 12px;
        margin-top: 20px;
        font-weight: 600;
        transition: 0.3s;
    }

    .view-details-btn:hover {
        background: #6d28d9;
        color: white;
    }

    .filter-box {
        background: #f0ecff;
        padding: 10px;
        border-radius: 15px;
        margin-bottom: 25px;
        margin-top: -20px;
    }

    .filter-row {
        display: flex;
        gap: 10px;
        flex-wrap: nowrap;
        margin-top: -10px;

    }

    .filter-row input,
    .filter-row select {
        flex: 1;
        border-radius: 5px;
        border: 1px solid #ddd;
        padding: 5px;
    }
    .filter-row input:focus,
    .filter-row select:focus {
        outline: none;
        border-color: #7c3aed;
        box-shadow: 0 0 5px rgba(124, 58, 237, 0.2);
    }

    .filter-btn {
        margin-top: 27px;
        text-align: center;
    }

    .filter-btn button {
        background: #7c3aed;
        color: white;
        border: none;
        padding: 8px 20px;
        border-radius: 8px;
        font-weight: 600;
        transition: 0.3s;
    }

    .filter-btn button:hover {
        background: #4a01be;
    }

    .delete-row {
        display: flex;
        gap: 10px;
    }

    .delete-row input {
        flex: 1;
        border-radius: 10px;
        border: 1px solid #ddd;
        padding: 5px;
    }
    .delete-row input:focus {
        outline: none;
        border-color: #ab0101;
        box-shadow: 0 0 5px rgba(124, 58, 237, 0.2);
    }

    .delete-row button {
        background: #bf0303;
        color: white;
        border: none;
        padding: 8px 20px;
        border-radius: 8px;
        transition: 0.3s;
        font-weight: 600;
    }
    .delete-row button:hover {
        background: #9a0101 ;
    }
    .filter-group {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .filter-group label {
        font-size: 0.85rem;
        font-weight: 600;
        color: #270392;
        margin-bottom: 3px;
    }
    .custom-message{
        padding: 10px 20px;
        border-radius: 12px;
        margin-bottom: 15px;
        margin-top: -25px;
        font-weight: 600;
        animation: fadeIn 0.4s ease;
    }

    .custom-message.success{
        color: #0f8339;
    }

    .custom-message.error{
        color: #ba1313;
    }

</style>

<div class="container browse-container">

    {% if messages %}
        {% for message in messages %}
            <div class="custom-message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="filter-box">
        <form method="GET">
            <div class="filter-row">
                <div class="filter-group">
                    <label>Academic Year</label>
                    <select name="year">
                        <option value="">All Years</option>
                        <option value="1" {% if request.GET.year == "1" %}selected{% endif %}>First Year</option>
                        <option value="2"{% if request.GET.year == "2" %}selected{% endif %}>Second Year</option>
                        <option value="3"{% if request.GET.year == "3" %}selected{% endif %}>Third Year</option>
                        <option value="4"{% if request.GET.year == "4" %}selected{% endif %}>Fourth Year</option>
                    </select>
                </div>
                <div class="filter-group">
                    <label>Current Section</label>
                    <input type="text" name="current_section"
                        value="{{ request.GET.current_section }}">
                </div>
                <div class="filter-group">
                    <label>Target Section</label>
                    <input type="text" name="target_section"
                        value="{{ request.GET.target_section }}">
                </div>
                <div class="filter-btn">
                    <button type="submit">Search</button>
                </div>
            </div>
        </form>

        <form method="POST">
            {% csrf_token %}
            <div class="filter-group">
                <label>Enter Your University ID To Delete Your Requests</label>
                <div class="delete-row">
                    <input type="text" name="University_id">
                    <button type="submit" name="delete_requests">Delete</button>
                </div>
            </div>
        </form>
    </div>
    
    <div class="row g-4">
        {% for request_item in all_requests %}
        <div class="col-md-6 col-lg-4">
            <div class="request-card">
                <div class="student-name">{{ request_item.student_id.full_name }}</div>
                
                <div class="academic-year">
                    <i class="bi bi-mortarboard-fill me-1"></i>
                    {{ request_item.student_id.get_academic_year_display }}
                </div>

                <div class="section-box-container">
                    <div class="text-center flex-grow-1">
                        <span class="section-label-tiny">From</span>
                        <div class="section-mini-box mx-auto">{{ request_item.current_section }}</div>
                    </div>

                    <div class="swap-icon">
                        <i class="bi bi-arrow-right"></i>
                    </div>

                    <div class="text-center flex-grow-1">
                        <span class="section-label-tiny">To</span>
                        <div class="section-mini-box mx-auto">{{ request_item.target_section }}</div>
                    </div>
                </div>

                <a href="{% url 'request_detail' request_item.id %}" class="view-details-btn">
                    View Contact Info
                </a>
            </div>
        </div>
        {% empty %}
        <div class="col-12 text-center py-5">
            <i class="bi bi-search" style="font-size: 3rem; color: #d1d5db;"></i>
            <p class="mt-3 text-muted">No requests found yet. Be the first to add one!</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}